
<section class="container" >
<div class="row">

    <table class="table table-border table-hover  col-10 offset-1 mt-4" >
                   
        <thead class="bg-grey"> 
    
          <tr class="table-border"> 
            <th class="w-100 table-border align-middle" scope="col" colspan="4" border> Les plus populaires :</th>
          </tr>
    
        </thead>
    
        <tbody>
    
          <tr *ngFor="let build of builds | slice:0:15; let i = index"  > 
                
            
            <td class="table-border">
                <a href="{{build.link}}" target="_blank" rel="noopener noreferrer"><h2>{{ build.title}}</h2>
                 <p class="description ">{{build.build}}</p>
                 <span class="type ">{{ build.type }}</span>            
                 <span class="auteur"> <span class="by">By </span> {{build.author}}</span></a>
            
                
    
        </tbody>
    
    </table>

</div> 
</section>
